@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

:root {
  --black: rgb(26, 26, 26);
  --yellow: #ffc60b;
  --babyBlack: rgb(18, 18, 18);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
}

.wrapup {
  width: 100vw;
  background-color: var(--babyBlack);
  display: flex;
  justify-content: center;
}

.box-nav {
  display: flex;
  width: 85%;
  padding: 15px;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.search {
  display: flex;
}

.logo img {
  margin-top: -45px;
  margin-bottom: -45px;
  height: 125px;
}

.button img {
  height: 15px;
  color: #ffc60b;
  background-color: var(--black);
  border: none;
  text-decoration: none;
}

.search-input {
  padding: 5px;
  padding-right: 100px;
  border-radius: 5px;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon i {
  font-weight: 700;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.wrapdown {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-main {
  width: 85%;
  height: 100vh;
  display: flex;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  height: 400px;
}

.right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: left;
  gap: 10px;
}
.title {
  font-family: "Fira Sans", sans-serif;
  color: #ffc60b;
}
span {
  color: #ffc60b;
}
